@import url('https://fonts.googleapis.com/css2?family=Hind+Mysuru:wght@300;400;500;600;700&family=Josefin+Sans&family=Press+Start+2P&family=Red+Hat+Display&family=Roboto&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  margin: 0;
  height: 100dvh;
  overflow: hidden;
  background-color: #f1edc2;
  font-family: "Hind Mysuru", sans-serif;
}
